<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account View</title>
  <link rel="icon" type="image/png" sizes="120x120" href="../images/fav/icons8-payoneer-color-120.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../images/fav/icons8-payoneer-color-96.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../images/fav/icons8-payoneer-color-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../images/fav/icons8-payoneer-color-16.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../images/fav/icons8-payoneer-color-120.png">
  <link rel="msapplication-square150x150logo" content="../images/fav/icons8-payoneer-color-120.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&family=Montserrat&family=Raleway&display=swap"
    rel="stylesheet">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 20px;
      color: #333;
    }

    .homeicon a {
      display: inline-block;
      margin-right: 20px;
    }

    .homeicon img {
      vertical-align: middle;
    }

    label {
      font-size: 18pt;
      font-weight: bold;
    }

    .scrollable-container {
      overflow-x: auto;
      margin-top: 20px;
    }

    .scrollable-table {
      width: 100%;
      border-collapse: collapse;
    }

    .scrollable-table thead {
      background-color: #ace4c9;
      color: #333;
    }

    .scrollable-table th,
    .scrollable-table td {
      text-align: left;
      padding: 8px;
      border-bottom: 1px solid #ddd;
    }

    .scrollable-table th {
      font-size: 10pt;
    }

    .scrollable-table tbody tr:hover {
      background-color: #e0e0e0;
    }

    .scrollable-table td {
      font-size: 9pt;
    }

    .scrollable-table button {
      background-color: #4CAF50;
      /* Green */
      color: white;
      padding: 6px 10px;
      margin: 4px 2px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 9pt;
    }

    .scrollable-table button:hover {
      background-color: #45a049;
    }

    /* If you want to add some responsiveness to your table */
    @media screen and (max-width: 600px) {

      .scrollable-table,
      .scrollable-table thead,
      .scrollable-table tbody,
      .scrollable-table th,
      .scrollable-table td,
      .scrollable-table tr {
        display: block;
      }

      .scrollable-table th {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      .scrollable-table tr {
        margin-bottom: 10px;
      }

      .scrollable-table td {
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: right;
      }

      .scrollable-table td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
      }

      /* Label the data */
      .scrollable-table td:nth-of-type(1):before {
        content: "Username";
      }

      .scrollable-table td:nth-of-type(2):before {
        content: "Name";
      }

      .scrollable-table td:nth-of-type(3):before {
        content: "Resort";
      }

      .scrollable-table td:nth-of-type(4):before {
        content: "Email";
      }

      .scrollable-table td:nth-of-type(5):before {
        content: "";
      }
    }
  </style>
</head>
<!-- shows a table of all the accounts and has buttons to edit and delete the accounts but not the admin account -->

<body>
  <div class="homeicon"><a href="/home"><img src="../images/home.svg" alt="Home" height="40px"></a></div>
  <label><b>Accounts Information:</b></label>
  <br><br>
  <div class="scrollable-container">
    <table class="scrollable-table">
      <thead style="background-color: #ace4c9; color: lightslategray;">
        <tr>
          <th style="text-align: left;">Username</th>
          <th style="text-align: left;">Name</th>
          <th style="text-align: left;">Resort</th>
          <th style="text-align: left;">Email</th>
          <th style="text-align: left;"></th>



        </tr>
      </thead>


      <tbody style="font-family: Arial; font-size: 9pt;" id="tableBody" name="tableBody">
        <% for (let iCount=0; iCount < myAccounts.length; iCount++) { %>
          <tr>
            <td>
              <%= myAccounts[iCount].username %>
            </td>
            <td>
              <%= myAccounts[iCount].name %>
            </td>
            <td>
              <%= myAccounts[iCount].resort %>
            </td>
            <td>
              <%= myAccounts[iCount].email %>
            </td>
            <td style="text-align: center;">
              <form action="/editAccount" method="GET">
                <button type="submit">Edit Account</button>
              </form>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
  <br><br>


</body>

</html>