<!-- very similar to index.ejs but only account holders can see it. 
has the dashboard on it and links. -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>
  <link rel="icon" type="image/png" sizes="120x120" href="../images/fav/icons8-payoneer-color-120.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../images/fav/icons8-payoneer-color-96.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../images/fav/icons8-payoneer-color-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../images/fav/icons8-payoneer-color-16.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../images/fav/icons8-payoneer-color-120.png">
  <link rel="msapplication-square150x150logo" content="../images/fav/icons8-payoneer-color-120.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&family=Montserrat&family=Raleway&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../styles/admin.css">
  <style>

  </style>
</head>


<body>
  <form id="logout-form" action="/logout" method="post" style="display: none;">
  </form>

  <header>
    <a href="#" id="logout-link">Logout</a>
    <a href="/skidate" id="addskidays">When are you going skiing?</a>
    <a href="/accountview" id="checkAccount">view account</a>


  </header>
  <main>
    <h1>Welcome to the Ski Commuter App!</h1>
   
  </main>

  <footer>
    <!-- Footer content -->
  </footer>
</body>
<script>
  document.getElementById('logout-link').addEventListener('click', function (e) {
    e.preventDefault(); // Prevent the default anchor behavior
    document.getElementById('logout-form').submit(); // Submit the hidden form
  });


  document.getElementById('find-ride-form').addEventListener('submit', function (e) {
    e.preventDefault();
    const searchDate = document.getElementById('searchDate').value;

    fetch(`/searchRides?date=${searchDate}`)
      .then(response => response.json())
      .then(data => {
        const resultsContainer = document.getElementById('ride-results');
        resultsContainer.innerHTML = ''; // Clear previous results
        data.forEach(ride => {
          const rideElement = document.createElement('div');
          rideElement.style.backgroundColor = 'grey';
          rideElement.style.marginBottom = '10px';
          rideElement.style.borderRadius = '10px';
          rideElement.style.padding = '10px';
          rideElement.style.marginTop = '10px';
          rideElement.style.display = 'flex';
          rideElement.style.alignItems = 'center';
          rideElement.style.justifyContent = 'center';
          rideElement.innerHTML = `Driver: ${ride.username} <br> Capacity: ${ride.carCapacity} <br> Contact: ${ride.email}`;
          resultsContainer.appendChild(rideElement);
        })
          .catch(error => console.error('Error:', error));
      });
  })

</script>


</html>